@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans serif;
}

header, nav, ul{
    width: 100%;   
}

nav{
    margin-bottom: 5vh;
    box-shadow: 0 .1em .2em rgba(0, 0, 0, 0.2);
    background-color: #333;   
}

nav > button{
    display: none;
    margin: auto;
    padding: 0.2em;
    font-size: 1.8em;
    background-color: #333;
    border: none;
    color: white;
}

nav ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.nav{
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .07em;
    font-weight: bold;
    transition: 0.5s ease-out;
}

.nav:hover{
    background-color: #eee;
    color: #333;
}

h1, h2, h3{
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

h1{
    font-size: 3vw;
}

h3{
    justify-self: center;
    grid-area: title;
}

h3 span{
    text-decoration: 2px dotted rgb(9, 91, 94) underline;
}

#picture{
    grid-area: leftside;
    padding-top: 1em; 
}

#picture img,
main img{
    width: 100%;
}

#subscribe{
    grid-area: rightside;
}

#connect{
    grid-area: rightside;
}

.notdisplayed{
    display: none;
}

.redisplay{
    display: block;
}

#acces{
    margin: 5vh auto;
    width: 65%;
}

#forms{
    width: 60%;
    margin: 5vh auto;
    background-color: #ddd;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "title title"
    "leftside rightside";
    gap: .8em;
}

form, fieldset{
    display: flex;
    flex-direction: column;
}

form{
    margin: 2vh 0;
    padding: 1em;
    border: 1px solid #eee;
}

form, input, 
form > button{
    border-radius: .3em;
}

input{
    outline: none;
    border: 1px solid #ccc;
    padding: .3em;
}

fieldset, 
form > button{
    border: none;
    padding: 0.5em;
}

form > button{
    display: block;
    margin: auto;
    width: 92%;
    background-color: #333;
    color: white;
    padding: .6em;
}

.switchForm{
    font-size: .9em;
    font-weight: bold;
    margin-top: 1.5em;
    text-align: justify;
}

.switchForm span{
    color: rgb(9, 91, 94);
    text-decoration: 2px dotted rgb(9, 91, 94) underline;
}

.error{
    color: red;
    padding: 0.5em;
    font-weight: 800;
}

main{
    width: 45%;
    margin: 3vh auto;
    text-align: justify;
    padding: 2vh 0;
}

main h2{
    color: rgb(9, 91, 94);
    text-transform: uppercase;
}

main input[type="button"]{
    display: block;
    margin: auto;
    width: 50%;
    border: none;
    padding: 1em;
    background-color: rgb(9, 91, 94);
    color: white;
    border-radius: .3em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .09em;
}

main .chapo{
    font-weight: bold;
    margin: 3vh 0;
}

.blur{
    filter: blur(.1em);
}

main > button{
    text-transform: uppercase;
}

/* Responsive display */
@media screen and (max-width: 700px){

    #forms{
        width: 60%;
        margin: 5vh auto;
        padding: 0.5em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "title"
        "leftside"
        "rightside";
        gap: .1em;
    }

}

@media screen and (max-width: 465px){

    #forms{
        width: 90%;
        margin: 4vh auto;
        padding: 0.5em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "title"
        "leftside"
        "rightside";
        gap: .08em;
    }

    h1{
        font-size: 5vw;

    }

    nav > button{
        display: block;
    }

    nav ul{
        flex-direction: column;
    }

    .nav{
        text-align: center;
        font-size: 0.8em;
        padding: 1em;
    }

}